<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <h5>Language API</h5>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">API Name</th>
                    <td>http://analytics.mysmartstick.com/api/v1/analytics/language/newslanguages</td>
                </tr>
                <tr>
                    <th scope="col">Execution At</th>
                    <td>{{startTime}}</td>
                </tr>
                <tr>
                    <th scope="col">Response Time</th>
                    <td>{{diff}} Seconds</td>
                </tr>
                <tr>
                    <th scope="col">Description</th>
                    <td>@API Used for Getting list Of All languages</td>
                </tr>
                <tr>
                    <th scope="col">Status</th>
                    <td>Success</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>