<app-header></app-header>
<div class="card margin">
    <h2>Kaltura Login API</h2>
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">API Name</th>
                <td>https://restv4-as.ott.kaltura.com/v5_0_3/api_v3/service/ottuser/action/login</td>
            </tr>
            <tr>
                <th scope="col">Description</th>
                <td>This API is used in Watcho applications throughout platforms to get a KS token.<br>
                When a user logs in to Watcho application, this API is called which generated a token (known as KS string) for that particular user 
                which enables them to watch the video for what they have subscribed for.</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card mt-3" style="height: 400px;">
    <div class="card-body">
        <div class="chart-wrapper canvas">
            <!-- <button mdbRipple type="button" (click)="getDownloadData()" class="btn btn-success buttonCss">DOWNLOAD</button> -->
            <canvas baseChart class="chart" [datasets]="mainChartData" [plugins]="barChartPlugins"
                [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
        </div>
    </div>
</div>
<ngx-spinner size="medium" type="ball-spin">
    <p class="loading">Loading...</p>
  </ngx-spinner>