<app-header></app-header>
<div class="card margin">
    <h2>Kaltura Login API</h2>
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">API Name</th>
                <td>https://restv4-as.ott.kaltura.com/v5_0_3/api_v3/service/ottuser/action/login</td>
            </tr>
            <tr>
                <th scope="col">Description</th>
                <td>@API Used for login to Kaltura service</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card mt-3" style="height: 400px;">
    <div class="card-body">
        <div class="chart-wrapper canvas">
            <button mdbRipple type="button" (click)="getDownloadData()" class="btn btn-success buttonCss">DOWNLOAD</button>
            <canvas baseChart class="chart" [datasets]="mainChartData" [plugins]="barChartPlugins"
                [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
        </div>
    </div>
</div>