<!--Main Navigation-->
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
        <a class="navbar-brand" href="javascript:void(0)" routerLink="/dashboard"><strong>MONITORING</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown">ANALYTICS </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class=" dropdown-item" routerLinkActive="active" routerLink="/channels">Channels API</a>
                        </li>
                        <li class="nav-item">
                            <a class=" dropdown-item " routerLinkActive="active" routerLink="/programs">Programs API</a>
                        </li>
                        <li class="nav-item">
                            <a class=" dropdown-item" routerLinkActive="active" routerLink="/languages">Languages API</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown">WATCHO </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class=" dropdown-item" routerLinkActive="active" routerLink="/webSeries">Web Series API </a>
                        </li>
                        <li class="nav-item">
                            <a class=" dropdown-item " routerLinkActive="active" routerLink="/player">Video Player API </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item" title="Log Out">
                    <a class="" (click)="logout()"><i class="fa fa-user"></i></a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<!--Main Navigation-->
<!--Main Layout-->