<app-header></app-header>
<div class="card">
    <div class="card-body" style="height: 535px;">
        <table class="table">
            <thead class="row">
                <h5 style="margin-left: 25px;">Web Series API</h5>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">API Name</th>
                    <td>https://restv4-as.ott.kaltura.com/v5_0_3/api_v3/service/asset/action/list</td>
                </tr>
                <tr>
                    <th scope="col">Description</th>
                    <td>@API Used for Getting list Of All Web Series & Sessions</td>
                </tr>
            </tbody>
        </table>
        <div class="chart-wrapper canvas">
            <button mdbRipple type="button" (click)="getDownloadData()" class="btn btn-success buttonCss">DOWNLOAD</button>
            <canvas baseChart class="chart" [datasets]="mainChartData" [plugins]="barChartPlugins"
                [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
        </div>
    </div>
</div>
<!-- <ngx-spinner size="medium" type="ball-spin">
    <p class="loading">Loading...</p>
  </ngx-spinner> -->

