<app-header></app-header>
<div class="card">
    <div class="card-body" style="height: 535px;">
        <table class="table">
            <thead>
                <h5 class="heading">All Programs API</h5>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">API Name</th>
                    <td>http://analytics.mysmartstick.com/api/v1/analytics/event/newsevents</td>
                </tr>
                <tr>
                    <th scope="col">Description</th>
                    <td>@API Used for Getting list Of All Programs</td>
                </tr>
            </tbody>
        </table>
        <div class="chart-wrapper canvas">
            <button mdbRipple type="button" (click)="getDownloadData()" class="btn btn-success buttonCss">DOWNLOAD</button>
            <canvas baseChart class="chart" [datasets]="mainChartData" [plugins]="barChartPlugins"
                [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
        </div>
    </div>
</div>