<app-header></app-header>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <h5>Locations API</h5>
            </thead>
            <tbody>
                <tr>
                    <th scope="col">API Name</th>
                    <td>http://analytics.mysmartstick.com/api/v1/analytics/channel/newslocationuser</td>
                </tr>
                <!-- <tr>
                    <th scope="col">Execution At</th>
                    <td>{{startTime}}</td>
                </tr>
                <tr>
                    <th scope="col">Response Time</th>
                    <td>{{diff}} Seconds</td>
                </tr> -->
                <tr>
                    <th scope="col">Description</th>
                    <td>@API Used for Getting list Of All Locations</td>
                </tr>
                <!-- <tr>
                    <th scope="col">Status</th>
                    <td>Success</td>
                </tr> -->
            </tbody>
        </table>
        <div class="chart-wrapper canvas">
            <canvas baseChart class="chart" [datasets]="mainChartData" [plugins]="barChartPlugins"
                [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
        </div>
    </div>
</div>