<app-header></app-header>
<div class="card margin">
    <h2>Get Subscription History API</h2>
    <table class="table">
        <tbody>
            <tr>
                <th scope="col">API Name</th>
                <td>https://ottmobileapis.dishtv.in/Api/AppSubscriptionManagement/SubscriptionHistory/51437819</td>
            </tr>
            <tr>
                <th scope="col">Description</th>
                <td> These APIs used to fetch the All the pack subscription history data in Watcho Offers & Plans for Watcho/Dish/D2h user </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="card mt-3" style="height: 400px;">
    <div class="card-body">
        <div class="chart-wrapper canvas">
            <!-- <button mdbRipple type="button" (click)="getDownloadData()" class="btn btn-success buttonCss">DOWNLOAD</button> -->
            <canvas baseChart class="chart" [datasets]="mainChartData" [plugins]="barChartPlugins"
                [labels]="mainChartLabels" [options]="mainChartOptions" [colors]="mainChartColours"
                [legend]="mainChartLegend" [chartType]="mainChartType"></canvas>
        </div>
    </div>
</div>
<ngx-spinner size="medium" type="ball-spin">
    <p class="loading">Loading...</p>
  </ngx-spinner>